section
    .container.pt-0.pb-5.px-4.px-md-0
        .row.justify-content-between.align-items-center
            .col-12.col-lg-8
                h4 Timeline Publikasi
                p Database Publik Prakerja bertujuan memberikan kesempatan untuk mendokumentasikan, mempelajari, dan menganalisis program Prakerja oleh siapa saja, termasuk peneliti, mahasiswa, akademisi, serta pembuat kebijakan di bidang ketenagakerjaan, pembangunan ekonomi.
    
    .container 
        .owl-carousel.timeline-carousel
            .timeline-item
                .timeline-date
                    | Mei
                    br
                    | 2020
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.mb-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-TNP2K.webp", alt="")
                            p.fs-7 Analisis Hasil Survei Penerima Manfaat  Program Kartu Prakerja
                        .timeline-card.d-flex.align-items-center.py-1.px-2.mb-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-WorldBank.webp", alt="")
                            p.fs-7 Survei Pedagang Digital Bukalapak

            .timeline-item
                .timeline-date
                    | Desember
                    br
                    | 2020
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.mb-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-WorldBank.webp", alt="")
                            p.fs-7 Survei Pedagang Digital Shopee

            .timeline-item
                .timeline-date
                    | Mei
                    br
                    | 2021
                .timeline-inner
                    h4 Test 3

            .timeline-item
                .timeline-date
                    | Juni
                    br
                    | 2021
                .timeline-inner
                    h4 Test 4

            .timeline-item
                .timeline-date
                    | Juli
                    br
                    | 2021
                .timeline-inner
                    h4 Test 5

            .timeline-item
                .timeline-date
                    | September
                    br
                    | 2021
                .timeline-inner
                    h4 Test 6

            .timeline-item
                .timeline-date
                    | Oktober
                    br
                    | 2021
                .timeline-inner
                    h4 Test 7

            .timeline-item
                .timeline-date
                    | April
                    br
                    | 2022
                .timeline-inner
                    h4 Test 8

            .timeline-item
                .timeline-date
                    | November
                    br
                    | 2022
                .timeline-inner
                    h4 Test 9

            .timeline-item
                .timeline-date
                    | Desember
                    br
                    | 2022
                .timeline-inner
                    h4 Test 10

            .timeline-item
                .timeline-date
                    | April
                    br
                    | 2023
                .timeline-inner
                    h4 Test 11

            .timeline-item
                .timeline-date
                    | Juni
                    br
                    | 2023
                .timeline-inner
                    h4 Test 12
                    

