footer.section-footer
  .top-wrapper
    .container.pt-4.pt-md-5.px-4.px-md-0
      .row
        .col-8 
          img(loading='lazy' src=baseURL+'img/logo-prakerja-x-febugm.png' alt='Logo Prakerja x FEB UGM' height="32")
        .col-4 

  .bottom-wrapper
    nav 
      ul.d-flex 
        li
          a(href="#") Beranda

        li
          a(href="#") Database

        li
          a(href="#") Tanya Jawab

        li
          a(href="#") Publikasi