.reveal-modal
  .reveal-modal__inner
    h3.reveal-modal__title Tentang Prakerja
    .video-embed
        iframe.video-youtube-embed( src='https://www.youtube.com/embed/gMsbWnyrqKY?si=Ymz8R9rQ59nmv7ti' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen='')
    div
        button.btn.btn--default.btn--reveal-modal-close Tutup
.reveal-overlay
