section.d-flex.align-items-center.page-hero
    .container.py-5.px-4.px-md-0
        .row.justify-content-between.align-items-center.section-bg-y100.rounded-4.p-4
            .col-12.col-lg-7
                div
                    span.display-1.text-gradient-hero  Ouch! 
                h1 Halaman 404 Tidak Ditemukan

                p Maaf, halaman yang Anda cari tidak ditemukan. Mari kita arahkan kembali ke jalan yang benar dengan mengklik tombol kembali atau jelajahi halaman kami untuk menemukan apa yang Anda cari. Terima kasih!
                a.btn.btn-orange(href="index.html") Kembali ke Beranda

            .col-12.col-lg-5.d-none.d-lg-flex.justify-content-end
                img.mb-3(src=baseURL+"img/img-pattern-5.svg", alt="")