//- INDEX LANDING PAGES
//- start variable
- var pageActive = ''
- var baseURL = ''
- var contentDescription = {}
- contentDescription.title = "Prakerja x FEB UGM"
- contentDescription.description = "Database Publik"

doctype html
html(lang="id" page-class="home")
    include pug/includes/html_head.pug
    body.loading
        include pug/includes/analytics_no_script.pug
        include pug/includes/id/header.pug

        main
            include pug/home/id/section_hero.pug
            include pug/home/id/section_about_prakerja.pug
            include pug/home/id/section_statistic.pug
            include pug/home/id/section_survey_org.pug
            include pug/home/id/section_introduction.pug
            include pug/includes/id/section_cta.pug
            include pug/home/id/section_testimony.pug
            include pug/includes/id/modal.pug


        include pug/includes/id/footer.pug
    include pug/includes/html_foot.pug
    //- Animation scripts 
    script(src="/js/anime.min.js")
    script(src="/js/scrollMonitor.js")
    script(src="/js/main.js")
    script(src="/js/reveal_home.js")

    