//- Table 1
table.table.table-hover
    thead 
        tr.table-active
            th Dokumentasi 
            th Link Dokumentasi 
    
    tbody.table-group-divider 
        tr 
            td Guidebook
            td 
                a.link-primary(href="#") guidebook.pdf 

        tr 
            td Dokumen Pertanyaan Pendaftaran 
            td 
                a.link-primary(href="#") pertanyaan_pendaftaran.pdf

        tr 
            td Kuesioner Survei Evaluasi I 
            td 
                a.link-primary(href="#") kuesioner_survei_evaluasi_1.pdf

        tr 
            td Kuesioner Survei Evaluasi II 
            td 
                a.link-primary(href="#") kuesioner_survei_evaluasi_2.pdf
        
        tr 
            td Kuesioner Survei Evaluasi III
            td 
                a.link-primary(href="#") kuesioner_survei_evaluasi_3.pdf

//- Table 2
table.table.table-hover
    thead 
        tr.table-active
            th Data: User Journey 
            th STATA
            th CSV
    
    tbody.table-group-divider 
        tr 
            td Buku Demografi 
            td 
                a.link-primary(href="#") adm_demografi.dta
            td 
                a.link-primary(href="#") adm_demografi.csv
        
        tr 
            td Buku Pendaftaran dan Penerimaan
            td 
                a.link-primary(href="#") adm_pendaftaran.dta
            td 
                a.link-primary(href="#") adm_pendaftaran.csv

        tr 
            td Buku Pelatihan 
            td 
                a.link-primary(href="#") adm_pelatihan.dta
            td 
                a.link-primary(href="#") adm_pelatihan.csv

        tr 
            td Buku Penyaluran Insentif
            td 
                a.link-primary(href="#") adm_insentif.dta
            td 
                a.link-primary(href="#") adm_insentif

//- Table 2=3
table.table.table-hover
    thead 
        tr.table-active
            th Data: Survei Evaluasi I
            th STATA
            th CSV
    
    tbody.table-group-divider 
        tr 
            td Buku Kebekerjaan Januari 
            td 
                a.link-primary(href="#") se1_bekerja_jn.dta
            td 
                a.link-primary(href="#") se1_bekerja_jn.csv
        
        tr 
            td Buku Kebekerjaan Saat Ini 
            td 
                a.link-primary(href="#") se1_bekerja_wk.dta
            td 
                a.link-primary(href="#") se1_bekerja_wk.csv

        tr 
            td Buku Pemanfaatan Insentif
            td 
                a.link-primary(href="#") se1_insentif.dta
            td 
                a.link-primary(href="#") se1_insentif.csv

        tr 
            td Buku Pengalaman Pelatihan 
            td 
                a.link-primary(href="#") se1_pelatihan.dta
            td 
                a.link-primary(href="#") se1_pelatihan.csv

        tr 
            td Buku Inklusi Keuangan 
            td 
                a.link-primary(href="#") se1_inklusi_keuangan.dta
            td 
                a.link-primary(href="#") se1_inklusi_keuangan.csv

//- Table 4
table.table.table-hover
    thead 
        tr.table-active
            th Data: Survei Evaluasi II
            th STATA
            th CSV
    
    tbody.table-group-divider 
        tr 
            td Buku Kebekerjaan Januari 
            td 
                a.link-primary(href="#") se2_bekerja_wk.dta
            td 
                a.link-primary(href="#") se2_bekerja_wk.csv
        
        tr 
            td Buku Kebekerjaan Saat Ini 
            td 
                a.link-primary(href="#") se2_pelatihan.dta
            td 
                a.link-primary(href="#") se2_pelatihan.csv

        tr 
            td Buku Pemanfaatan Insentif
            td 
                a.link-primary(href="#") se2_inklusi_keuangan.dta
            td 
                a.link-primary(href="#") se2_inklusi_keuangan.csv

//- Table 5
table.table.table-hover
    thead 
        tr.table-active
            th Data: Survei Evaluasi III
            th STATA
            th CSV
    
    tbody.table-group-divider 
        tr 
            td Buku Kebekerjaan Saat Ini 
            td 
                a.link-primary(href="#") se3_bekerja_wk.dta
            td 
                a.link-primary(href="#") se3_bekerja_wk.csv
        
        tr 
            td Buku Pengalaman Pelatihan 
            td 
                a.link-primary(href="#") se3_pelatihan.dta
            td 
                a.link-primary(href="#") se3_pelatihan.csv

        tr 
            td Buku Inklusi Keuangan
            td 
                a.link-primary(href="#") se3_inklusi_keuangan.dta
            td 
                a.link-primary(href="#") se3_inklusi_keuangan.csv


        