section.d-flex.align-items-center.page-hero
    .container.py-5.px-4.px-md-0
        .row.justify-content-between.align-items-center.section-about-database.rounded-4.p-4
            .col-12.col-lg-7
                h1
                    | Unduh 
                    span.text-gradient-hero  Database

                p 
                    | Hai 
                    b Alisa Putri
                    |, halaman ini hanya dapat diakses selama 7 hari dimulai dari waktu permintaan akses. Untuk mendapatkan akses kembali, silakan kirim permintaan ulang untuk mengunduh database.

            .col-12.col-lg-5.d-none.d-lg-flex.justify-content-end
                img.mb-3(src=baseURL+"img/img-pattern-3.svg", alt="")