section.d-flex.align-items-center.mb-5
    .container.py-5.px-4.px-md-0
        .row.justify-content-between.align-items-center
            .col-12.col-lg-6.d-flex.justify-content-center
                img.w-100.mb-4.mb-lg-0(src=baseURL+'img/img-joko-widodo-temu-raya.webp' alt='Temu Raya Prakerja')

            .col-12.col-lg-6
                h4 Pahami Ini Sebelumnya
                p Database Publik Prakerja bertujuan memberikan kesempatan untuk mendokumentasikan, mempelajari, dan menganalisis program Prakerja oleh siapa saja, termasuk peneliti, mahasiswa, akademisi, serta pembuat kebijakan di bidang ketenagakerjaan, pembangunan ekonomi, atau bidang lain yang relevan.  Database ini berisi data sampel penerima pada periode skema semi-bansos tahun 2020-2022. Data sampel Prakerja bersumber dari data User Journey dan Survei Evaluasi yang dilaksanakan oleh Manajemen Pelaksana Program Kartu Prakerja (MPPKP). Ketersediaan database ini diharapkan dapat mendorong penelitian dan diskusi yang mendalam untuk meningkatkan program Prakerja dan kebijakan publik Indonesia di masa depan.

            