section.d-flex.align-items-center
    .container.py-5.px-4.px-md-0
        .row.justify-content-between.align-items-center
            .col-12.col-lg-8
                h4 Data dan Dokumentasi
                p 
                    | Harap mendownload dan membaca dokumen “
                    a.link-primary(href="#") Guidebook
                    | ” terlebih dahulu sebelum menggunakan dataset. Dalam dokumen tersebut, dijelaskan mengenai regulasi, skema program, karakteristik penerima Prakerja, metode sampling, jumlah sampel, codebook, hingga penjelasan cara menggunakan database yang berbeda-beda untuk masing-masing tahun. 
                p Pengguna perlu memahami konteks program dan user journey penerima Prakerja sebelum melakukan analisis terhadap database Prakerja. Sehingga analisis dapat dilakukan berdasarkan pemilihan variabel yang tepat, penggunaan metodologi analisis yang sesuai, dan interpretasi hasil yang akurat.
                p Database Prakerja dipisahkan berdasarkan tahun yaitu 2020, 2021, dan 2022 dan masing-masing tahun berisi dataset user journey, dataset survei evaluasi, dan dataset pelatihan. 
