section.d-flex.align-items-center.page-hero
    .container.py-5.px-4.px-md-0
        .row.justify-content-between.align-items-center.section-bg-t100.rounded-4.p-4
            .col-12.col-lg-7
                div
                    span.display-1.text-gradient-hero  Oops! 
                h1 Halaman Unduh Database Kedaluwarsa

                p Halaman unduh database hanya dapat diakses selama 7 hari dimulai dari waktu permintaan akses. Untuk mendapatkan akses kembali, silakan kirim permintaan ulang untuk mengunduh database.
                a.btn.btn-orange(href="index.html") Kembali ke Beranda

            .col-12.col-lg-5.d-flex.justify-content-end
                img.mb-3(src=baseURL+"img/img-pattern-4.svg", alt="")