section.d-flex.align-items-center.mb-5.page-hero
    .container.py-5.px-4.px-md-0
        .row.justify-content-between.align-items-center.section-about-database.rounded-4.p-4
            .col-12.col-lg-7
                h1
                    | Tentang
                    span.text-gradient-hero  Database 
                    | Publik Prakerja

                p Lorem ipsum PPE self care staycation. Remote doomscroll frontline workers unprecedented shortage walktail we can't hear you.. Hybrid storm Area 51 Tiger King spread. Hurricane Greek alphabet election Quibi K-shaped recovery.
                a.btn.btn-orange(href="#") Unduh Database

            .col-12.col-lg-5.d-flex.justify-content-center
                img.mb-3(src=baseURL+"img/img-pattern-1.svg", alt="")