.reveal-modal
  .reveal-modal__inner
    .d-flex.justify-content-between.align-items-center.mb-3
      h4.m-0.p-0 Tentang Prakerja
      div
        button.btn.btn-sm.btn-ghost-light.btn--default.btn--reveal-modal-close
          i.bi.bi-x-lg
    .video-embed
        iframe.video-youtube-embed( src='https://www.youtube.com/embed/gMsbWnyrqKY?si=Ymz8R9rQ59nmv7ti' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen='')
.reveal-overlay
