
- var pageActive = 'download'
- var baseURL = '../'
- var contentDescription = {}
- contentDescription.title = "Download Database Prakerja x FEB UGM Tanya Jawab"
- contentDescription.description = "Database Publik"

doctype html
html(lang="id" page-class="home")
    include ../pug/includes/html_head.pug
    body(data-bs-spy="scroll" data-bs-target="#navbar-example")
        include ../pug/includes/analytics_no_script.pug
        include ../pug/includes/id/header.pug

        main

            include ../pug/database/id/section_jumbotron_download_db.pug
            include ../pug/database/id/section_content_download_db.pug 
            include ../pug/database/id/section_table_download_db.pug
            


        include ../pug/includes/id/footer.pug
    include ../pug/includes/html_foot.pug

    
    