//- INDEX Database Page
//- start variable
- var pageActive = 'database'
- var baseURL = '../'
- var contentDescription = {}
- contentDescription.title = "Prakerja x FEB UGM Database"
- contentDescription.description = "Database Publik"

doctype html
html(lang="id" page-class="home")
    include ../pug/includes/html_head.pug
    body
        include ../pug/includes/analytics_no_script.pug
        include ../pug/includes/header_id.pug

        main

            include ../pug/database_id/section_about_database.pug
            include ../pug/database_id/section_general_desc.pug 
            include ../pug/database_id/section_intro_database.pug
            include ../pug/database_id/section_read_this.pug
            include ../pug/database_id/section_form_download_db.pug
            

        include ../pug/includes/footer_id.pug
    include ../pug/includes/html_foot.pug
    