//- INDEX Publikasi Page
//- start variable
- var pageActive = 'publikasi'
- var baseURL = '../'
- var contentDescription = {}
- contentDescription.title = "Prakerja x FEB UGM Publikasi"
- contentDescription.description = "Database Publik"

doctype html
html(lang="id" page-class="home")
    include ../pug/includes/html_head.pug
    body
        include ../pug/includes/analytics_no_script.pug
        include ../pug/includes/id/header.pug

        main

            include ../pug/publikasi/id/section_jumbotron.pug
            include ../pug/publikasi/id/section_timeline.pug
            include ../pug/publikasi/id/section_publication.pug
            


        include ../pug/includes/id/footer.pug
    include ../pug/includes/html_foot.pug

    