section.d-flex.align-items-center.mb-5.section-about-prakerja
    .container.py-5.px-4.px-md-0
        .row.justify-content-center
            .col-12
                h3.text-light.mb-3 Tentang Prakerja
                div.about-prakerja-text
                    p.text-light Kartu Prakerja adalah program inisiatif Presiden Joko Widodo pada tahun 2019 untuk meningkatkan kompetensi, produktivitas, daya saing, dan kemampuan kewirausahaan angkatan kerja Indonesia. Selama tahun 2020-2022, Prakerja menerapkan skema semi-bansos untuk merespon dampak Covid-19 dan menjadi bagian dari Program Pemulihan Ekonomi Nasional. Prakerja mengemban misi ganda dalam menjaga daya beli masyarakat, sekaligus sebagai program skill development angkatan kerja Indonesia. 
                    p.text-light Pada periode 2020-2022, terdapat 398 lembaga pelatihan yang tergabung dalam ekosistem Prakerja dan menawarkan lebih dari 6.900 pelatihan.
                    p.text-light Dalam implementasinya, Prakerja menerapkan sistem end-to-end digital untuk melayani masyarakat dengan cepat, dalam skala luas, dan tanpa perantara. Hal ini berlaku dalam proses pendaftaran, proses pelatihan, hingga penyaluran insentif pascapelatihan

                    a(href="#") Pelajari Selengkapnya 