
section.d-flex.align-items-center.mb-5.section-about-prakerja
    .container.py-5.px-4.px-md-0
        .row.justify-content-center
            .col-12
                h3.content__title.text-light.mb-3
                    span#rev-4.content__title__inner Tentang Prakerja
            .col-8
                .row
                    .col-6
                        div.content__title
                            p#rev-5.content__title__inner 
                                | Kartu Prakerja adalah program inisiatif Presiden Joko Widodo pada tahun 2019 untuk meningkatkan kompetensi, produktivitas, daya saing, dan kemampuan kewirausahaan angkatan kerja Indonesia.
                                | Selama tahun 2020-2022, Prakerja menerapkan skema semi-bansos untuk merespon dampak Covid-19 dan menjadi bagian dari Program Pemulihan Ekonomi Nasional. Prakerja mengemban misi ganda dalam menjaga daya beli masyarakat, sekaligus sebagai program skill development angkatan kerja Indonesia.
                    .col-6
                        div.content__title
                            p#rev-6.content__title__inner 
                                | Pada periode 2020-2022, terdapat 398 lembaga pelatihan yang tergabung dalam ekosistem Prakerja dan menawarkan lebih dari 6.900 pelatihan. Dalam implementasinya, 
                                | Prakerja menerapkan sistem end-to-end digital untuk melayani masyarakat dengan cepat, dalam skala luas, dan tanpa perantara. Hal ini berlaku dalam proses pendaftaran, proses pelatihan, hingga penyaluran insentif pascapelatihan


                //- div.about-prakerja-text
                //-     p.text-light
                //-         | Kartu Prakerja adalah program inisiatif Presiden Joko Widodo pada tahun 2019 untuk meningkatkan kompetensi, produktivitas, daya saing, dan kemampuan kewirausahaan angkatan kerja Indonesia. Selama tahun 2020-2022, Prakerja menerapkan skema semi-bansos untuk merespon dampak Covid-19 dan menjadi bagian dari Program Pemulihan Ekonomi Nasional. Prakerja mengemban misi ganda dalam menjaga daya beli masyarakat, sekaligus sebagai program skill development angkatan kerja Indonesia. 
                //-         | Pada periode 2020-2022, terdapat 398 lembaga pelatihan yang tergabung dalam ekosistem Prakerja dan menawarkan lebih dari 6.900 pelatihan.
                //-     p.text-light Dalam implementasinya, Prakerja menerapkan sistem end-to-end digital untuk melayani masyarakat dengan cepat, dalam skala luas, dan tanpa perantara. Hal ini berlaku dalam proses pendaftaran, proses pelatihan, hingga penyaluran insentif pascapelatihan
            .col-4 
                #rev-3.content__image-wrap
                    img.content__image.w-100(src='img/img-joko-widodo-temu-raya.webp' alt='Some image')
                    br
                    a.text-light(href="#") Pelajari Selengkapnya 

//- section.content.content--full.flexy.flexy--row
//-   h2.content__title.content__title--medium.content__title--half.content__title--right
//-     #rev-4.content__title__inner funky foxes love
//-     br
//-     #rev-5.content__title__inner.content__title__inner--offset-2 technology
//-   #rev-3.content__image-wrap.content__image-wrap--half
//-     img.content__image(src='img/1.jpg' alt='Some image')