section.section-survey-org
    .container.py-5.px-4.px-md-0
        .row
            .d-lg-flex.justify-content-between.align-items-center.mb-4
                div
                    h4 Diakui oleh Lembaga Survei
                    p Dampak program kartu prakerja diakui oleh berbagai lembaga survei, diantaranya:
                div 
                    a.btn.btn-outline-orange(href="#") Lihat Publikasi 
        
            .owl-carousel.survey-org-carousel
                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-CSIS.webp", alt="")
                    a.link-primary(href="#") CSIS 
                
                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-SVARAInstitute.webp", alt="")
                    a.link-primary(href="#") SVARA Institute 
                
                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-CIPG.webp", alt="")
                    a.link-primary(href="#") Centre for Innovation Policy and Governance (CIPG) 

                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-definit.webp", alt="")
                    a.link-primary(href="#") Definit 
                
                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-ADB.webp", alt="")
                    a.link-primary(href="#") Asian Development Bank 
                
                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-CyrusNetwork.webp", alt="")
                    a.link-primary(href="#") Cyrus Network 
                
                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-PresisiIndonesia.webp", alt="")
                    a.link-primary(href="#") Presisi Indonesia 
                
                .survey-org-item.text-center 
                    img.mb-3(src="img/ls-logo-J-PALSEA.webp", alt="")
                    a.link-primary(href="#") J-PAL 
                
                .survey-org-item.text-center
                    img.mb-3(src="img/ls-logo-WorldBank.webp", alt="")
                    a.link-primary(href="#") World Bank 

                .survey-org-item.text-center
                    img.mb-3(src="img/ls-logo-TNP2K.webp", alt="")
                    a.link-primary(href="#") TNP2K

                .survey-org-item.text-center
                    img.mb-3(src="img/ls-logo-SMERU.webp", alt="")
                    a.link-primary(href="#") Smeru Researh Institute

                .survey-org-item.text-center
                    img.mb-3(src="img/ls-logo-PoltrackingIndonesia.webp", alt="")
                    a.link-primary(href="#") Poltracking Indonesia

                .survey-org-item.text-center
                    img.mb-3(src="img/ls-logo-CEDS.webp", alt="")
                    a.link-primary(href="#") Center for Economics and Development Studies

                .survey-org-item.text-center
                    img.mb-3(src="img/ls-logo-ipsos.webp", alt="")
                    a.link-primary(href="#") Ipsos