section.section-testimony()
  .container.py-3.py-lg-5.px-4.px-md-0
    h4.custom-rfs-h4.text-center
        | Apa Kata Mereka?

    .owl-carousel.testimony-carousel
        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-sabrina.webp", alt="Sabrina Lutfiani")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp" data-src-retina="img/avatar-vivi-alatas.webp" alt="Vivi Alatas")
                        
                    div 
                        h6.m-0 Vivi Alatas
                        span.fs-7.text-secondary
                            b Ekonom Senior 

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 Apa rahasia sukses Prakerja? … rahasia sukses orang itu punya growth mindset dan Prakerja punya growth mindset [untuk diriset].

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-makhinun.webp", alt="Makhinun Amin")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-teguh-dartanto.webp", alt="Teguh Dartanto")
                    div 
                        h6.m-0 Teguh Dartanto
                        span.fs-7.text-secondary
                            b Dekan
                            br
                            | Fakultas Ekonomi dan Bisnis Universitas Indonesia

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 Prakerja merupakan program inovatif pemerintah yang memberikan harapan kepada masyarakat usia produktif untuk kembali belajar skill baru, meningkatkan skill sehingga bisa match dengan job market yang ada saat ini.


        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-rony.webp", alt="Rony Purwono")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-amir-hamza-jilani.webp", alt="Amir Hamza Jilani")
                    div 
                        h6.m-0 Amir Hamza Jilani
                        span.fs-7.text-secondary
                            b Ekonom Sektor Sosial
                            br
                            | Asian Development Bank (ADB)

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3
                    | Banyaknya evaluasi eksternal dan independen [terhadap Prakerja] menunjukkan pentingnya menghasilkan data dan temuan. Tidak hanya untuk keberlanjutan program, tapi juga untuk memastikan alokasi sumber daya publik yang lebih efisien.

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-fenti.webp", alt="Fenti Sampe Sialla")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-benjamin-olken.webp", alt="Benjamin A. Olken")
                    div 
                        h6.m-0 Benjamin A. Olken
                        span.fs-7.text-secondary
                            | Profesor Jane Berkowitz Carlton & Dennis William Carlton untuk Mikroekonomi di MIT dan Direktur Saintifik J-PAL SEA

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Dengan Kartu Prakerja, orang merasa lebih memiliki ketahanan pangan. Mereka juga merasa aman secara finansial dan lebih sedikit mengambil pinjaman.
        
        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-rizki.webp", alt="Rizki Alwi Pratama")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-elan-satriawan.webp", alt="Elan Satriawan")
                    div 
                        h6.m-0 Elan Satriawan
                        span.fs-7.text-secondary
                            | Ketua Kelompok Kerja Kebijakan TNP2K & Dosen di UGM

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Manajemen Pelaksana sejak awal program, sudah membuka diri untuk melakukan rigorous evaluation terhadap program ini.

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-rizki.webp", alt="Rizki Alwi Pratama")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-maria-monica.webp", alt="Maria Monica Wihardja")
                    div 
                        h6.m-0 Maria Monica Wihardja
                        span.fs-7.text-secondary
                            b Ekonom, Visiting Fellow
                            | ISEAS - Yusof Ishak Institute Singapore

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Ada banyak inovasi Prakerja yang bisa ditiru oleh program pemerintah dan negara lain. Aspek inklusi keuangan, pembayaran multi-channel G2P berbasis digital, dan bermitra dengan lembaga pelatihan.

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-rizki.webp", alt="Rizki Alwi Pratama")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-bambang-brodjonegoro.webp", alt="Bambang Brodjonegoro")
                    div 
                        h6.m-0 Bambang Brodjonegoro
                        span.fs-7.text-secondary
                            b Guru Besar Fakultas Ekonomi dan Bisnis
                            | Universitas Indonesia

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Sebelum ada Prakerja, 90% angkatan kerja kita tidak pernah tersentuh pelatihan bersertifikat. Ini akan mengganggu produktivitas pekerja. Prakerja sudah men-unlock bottleneck tersebut. Prakerja menjadi awal mula yang baik untuk menciptakan human capital yang kita butuhkan.

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-rizki.webp", alt="Rizki Alwi Pratama")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-fajar-hirawan.webp", alt="Fajar B. Hirawan")
                    div 
                        h6.m-0 Fajar B. Hirawan
                        span.fs-7.text-secondary
                            b Ketua Departemen Ekonomi
                            | CSIS

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Dengan segala implementasi inovasi pada Program Kartu Prakerja, program ini menjadi fasilitator bagi penggunaan uang negara yang berdampak bagi masyarakat secara efektif dan efisien.

        .testimony-card.p-3
            .testimony-header.d-flex.justify-content-between.align-items-center
            
                div.d-flex.align-items-center 
                    div.pe-2 
                        .testimony-img
                            //- img(src="img/img-testimony-rizki.webp", alt="Rizki Alwi Pratama")
                            img.owl-lazy(data-src="img/img-placeholder-logo.webp", data-src-retina="img/avatar-chris-manning.webp", alt="Chris Manning")
                    div 
                        h6.m-0 Chris Manning
                        span.fs-7.text-secondary
                            b Honorary-Associate Professor
                            | Arndt-Corden Economics Department, ANU

                span.fs-1
                    i.bi.bi-quote

            .testimony-body 
                p.m-0.pt-3 
                    | Prakerja adalah program peningkatan skill dan ini berbeda dengan program bantuan pengangguran di berbagai negara lain yang utamanya memberikan bantuan tunai.
    


