//- section.jumbotron
  //- .video-wrapper
  //-   // Video placeholder is declared at css in class .video-wrapper
  //-   .masking-pattern
  //-   video.hero-video(autoplay='' muted='' loop='')
  //-     source(src='video/TentangPrakerja_compressed.mp4' type='video/mp4')
//- section.section-hero.d-flex.align-items-center
    
section.section-hero.d-flex.align-items-center
    .video-wrapper
      // Video placeholder is declared at css in class .video-wrapper
      .masking-pattern
        video.hero-video(autoplay='' muted='' loop='')
          source(src='video/TentangPrakerja_compressed.mp4' type='video/mp4')

    .container.py-md-5.py-5.px-4.px-md-0
      .row.justify-content-start
        .col-lg-6.p-0
            .d-flex.justify-content-center
              div.content-light
                h1.display-1
                  span.text-gradient-hero Database
                  | &nbsp; Publik 
                h3 Program Prakerja 2020-2022
                p Lorem ipsum PPE self care staycation. Remote doomscroll frontline workers unprecedented shortage walktail we can't hear you.. Hybrid storm Area 51 Tiger King spread. Hurricane Greek alphabet election Quibi K-shaped recovery.
                button Putar Video