section
    .container.py-5.px-4.px-md-0
        .row.justify-content-center
            .col-6
                h3.content__title 
                    span#rev-5.content__title__inner Statistik Penerima Manfaat
                p Data tahun 2020 hingga 2022 dengan skema Semi Bansos Lorem ipsum PPE self care staycation. Remote doomscroll frontline workers unprecedented shortage walktail we can't hear you.. Hybrid storm Area 51 Tiger King spread.
        .row 
            .col-4 
                .graphic 
                    .bi.bi-people-fill
                h4 16,4 Juta
                p Penerima efektif

            .col-4 
                .graphic 
                    .bi.bi-award-fill
                h4 86%
                p Belum pernah mengikuti pelatihan

            .col-4 
                .graphic 
                    .bi.bi-gender-female
                h4 51%
                p Perempuan

            .col-4 
                .graphic 
                    .bi.bi-mortarboard-fill
                h4 64%
                p Berpendidikan SMA ke atas
            
            .col-4 
                .graphic 
                    .bi.bi-person-wheelchair
                h4 3%
                p Penyandang disabilitas
            
            .col-4 
                .graphic 
                    .bi.bi-houses-fill
                h4 64%
                p Tinggal di perdesaan