section.pt-5
  .container.pt-5.text-center
    h1.h2 
      | Tanya Jawab Tentang
      span.text-gradient-hero  Database
      |  Publik
section.pt-5
  .container
    .row
      .col-3
        #list-example.list-group 
          a.list-group-item.list-group-item-action(href='#list-item-1') Item 1
          a.list-group-item.list-group-item-action(href='#list-item-2') Item 2
          a.list-group-item.list-group-item-action(href='#list-item-3') Item 3
          a.list-group-item.list-group-item-action(href='#list-item-4') Item 4
      .col-9
        .scrollspy-example(data-bs-spy='scroll' data-bs-target='#list-example' data-bs-smooth-scroll='true' tabindex='0')
          h4#list-item-1 Item 1
          p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          h4#list-item-2 Item 2
          p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          h4#list-item-3 Item 3
          p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          h4#list-item-4 Item 4
          p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.


    //- .row
    //-   .col-4
    //-     #simple-list-example.d-flex.flex-column.gap-2.simple-list-example-scrollspy.text-center.testus
    //-       a.p-1.rounded(href='#simple-list-item-1') Item 1
    //-       a.p-1.rounded(href='#simple-list-item-2') Item 2
    //-       a.p-1.rounded(href='#simple-list-item-3') Item 3
    //-       a.p-1.rounded(href='#simple-list-item-4') Item 4
    //-       a.p-1.rounded(href='#simple-list-item-5') Item 5
    //-   .col-8
    //-     .scrollspy-example(data-bs-spy='scroll' data-bs-target='#simple-list-example' data-bs-offset='0' data-bs-smooth-scroll='true' tabindex='0')
    //-       h4#simple-list-item-1 Item 1
    //-       p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
    //-       h4#simple-list-item-2 Item 2
    //-       p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
    //-       h4#simple-list-item-3 Item 3
    //-       p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
    //-       h4#simple-list-item-4 Item 4
    //-       p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
    //-       h4#simple-list-item-5 Item 5
    //-       p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
