section.pt-5
  .container.pt-5.text-center
    h1.h2 
      | Tanya Jawab Tentang
      span.text-gradient-hero  Database
      |  Publik
section.pt-4
  .container
    .row
      .col-12.col-lg-3.nav-sticky
        .dropdown.d-block.d-lg-none.mb-4
          button.btn.btn-outline-orange.dropdown-toggle.w-100(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Pilih Kategori
          ul.dropdown-menu
            li
              a.dropdown-item(href='#list-item-1') Download Data
            li
              a.dropdown-item(href='#list-item-2') Contact Centre
            li
              a.dropdown-item(href='#list-item-3') Kondisi Data Umum
            li
              a.dropdown-item(href='#list-item-4') Kondisi Data 2020
            li
              a.dropdown-item(href='#list-item-5') Kondisi Data 2021
            li
              a.dropdown-item(href='#list-item-6') Kondisi Data 2022
            li
              a.dropdown-item(href='#list-item-7') Pemanfaatan Data
            li
              a.dropdown-item(href='#list-item-8') Publikasi


        #navbar-example.scrollspy-navbar.d-none.d-lg-block
          a.list-group-item.list-group-item-action(href='#list-item-1') Download Data
          a.list-group-item.list-group-item-action(href='#list-item-2') Contact Centre
          a.list-group-item.list-group-item-action(href='#list-item-3') Kondisi Data Umum
          a.list-group-item.list-group-item-action(href='#list-item-4') Kondisi Data 2020
          a.list-group-item.list-group-item-action(href='#list-item-5') Kondisi Data 2021
          a.list-group-item.list-group-item-action(href='#list-item-6') Kondisi Data 2022
          a.list-group-item.list-group-item-action(href='#list-item-7') Pemanfaatan Data
          a.list-group-item.list-group-item-action(href='#list-item-8') Publikasi
      .col-12.col-lg-9
        article
          
          section#list-item-1.mb-4.adjust-anchor
            h4 Download Data
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          
          section#list-item-2.mb-4.adjust-anchor
            h4 Contact Centre
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          
          section#list-item-3.mb-4.adjust-anchor
            h4 Kondisi Data Umum
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          
          section#list-item-4.mb-4.adjust-anchor
            h4 Kondisi Data 2020
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          
          section#list-item-5.mb-4.adjust-anchor
            h4 Kondisi Data 2021
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          
          section#list-item-6.mb-4.adjust-anchor
            h4 Kondisi Data 2022
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          
          section#list-item-7.mb-4.adjust-anchor
            h4 Pemanfaatan Data
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          
          section#list-item-8.mb-4.adjust-anchor
            h4 Publikasi
            p Pandemi telah usai dan skema normal telah dimulai. Di skema ini, insentif pasca pelatihan diturunkan tetapi beasiswa pelatihan ditambah. Hanya dalam 4 tahun, lebih dari 17,5 juta penerima telah mendapatkan pelatihan. Ini menjadi capaian yang berbicara bahwa Program Kartu Prakerja bukan cuma gagasan tapi sudah terbukti. Problem-Solution Fit. Ini tak lepas dari operasi yang menerapkan standar e-government (SPBE) tertinggi. Tahun ini juga merupakan tahun pengakuan internasional. Mulai dari PBB, GIZ, ASEAN, Bank Dunia hingga ADB. Turut dipelajari negara Kamboja, Thailand juga Maroko. Pemerintah Kamboja bahkan mereplikasi. Prakerja menjadi penyelenggara Inclusive Lifelong Learning Conference bersama UNESCO Institute for Lifelong Learning yang dihadiri 38 negara. Laporan tahun 2023 ini menyajikan kunci-kunci sukses Program Kartu Prakerja untuk menjadi inspirasi.
          